<div class="row">
  <div class="col">
    <div style="width: 60%; margin: 10px auto">
      <h3>Station list for {{ train.number }}</h3>
      <table class="table table-bordered text-center border">
        <thead class="bg-dark text-light">
          <tr>
            <th>Stations</th>
            <th>Arrival</th>
            <th>Departure</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemStation of train.stations">
            <td>{{ itemStation.name }}</td>
            <td>{{ itemStation.arrival | date : "HH:mm" }}</td>
            <td>{{ itemStation.departure | date : "HH:mm" }}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <button class="btn btn-danger" [routerLink]="['ticketform']">
          Buy ticket
        </button>
      </div>
    </div>
  </div>
</div>
